/* font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
    font-family: 'Raleway', 'Josefin Sans', 'Dancing Script', cursive, sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    height: 150px;
}

h1 {
    width: 48%;
    margin: auto;
    text-align: center;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 60px;
    border-bottom: solid 3px #fff;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 38px;
}

h1:after {
    content: "-Full Stack Web Dev";
    font-size: 30px;
}

nav {
    position: relative;
    margin-top: 15px;
}

nav ul {
    border-bottom: solid 1px #fff;
    width: 55%;
    margin-top: 25px;
    margin-left: 23%;
    display: inline-flex;
    justify-content: space-between;
}

nav a {
    color: #000;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
}

h2:hover {
    color: #000;
    text-shadow: -1px 1px 5px #fff;
    border-radius: 15px;
    transition: .8s;
}

a:focus {
    border: 2px #fff;
    border-radius: 3px;
}

.over-the-line {
    position: absolute;
    margin-top: -35px;
    margin-left: -55px;
}

.under-the-line {
    position: absolute;
    margin-top: 3px;
    margin-left: -55px;
}

.contact-me {
    height: 3rem;
    width: 100%;
    text-align: center;

}

.contact-me h3 {
    display: inline-block;
    margin: 10px 6rem;
    padding: 2px;
}

