/* font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
    font-family: 'Raleway', 'Josefin Sans', 'Dancing Script', cursive, sans-serif;
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
}

header {
    height: 150px;
}

h1 {
    width: 48%;
    margin: auto;
    text-align: center;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 60px;
    border-bottom: solid 3px #fff;
    border-radius: 0 0 25px 25px;
}

h1:after {
    content: "-Full Stack Web Dev";
    font-size: 30px;
}

nav {
    position: relative;
    margin-top: 15px;
}

nav ul {
    border-bottom: solid 1px #fff;
    width: 55%;
    margin-top: 25px;
    margin-left: 23%;
    display: inline-flex;
    justify-content: space-between;
}

nav a {
    color: #000;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
}

.nav-links h2:hover {
    color: #000;
    margin-left: 10px;
    text-shadow: -1px 1px 5px #fff;
    border-radius: 15px;
    transition: .8s;
}

a:focus {
    border: 2px #fff;
    border-radius: 3px;
}

.over-the-line {
    position: absolute;
    margin-top: -35px;
    margin-left: -55px;
}

.under-the-line {
    position: absolute;
    margin-top: 3px;
    margin-left: -55px;
}

aside {
    position: fixed;
    left: 0;
    width: 15%;
    padding: 3px;
    margin: -20px 2.5px 2.5px 5px;
    text-align: center;
    float: left;
}

#about-me {
    width: 50%;
    padding: 3px;
    border-radius: 20px;
}

legend {
    padding: 5px;
    margin: 2px;
    border-bottom: solid 2px #fff;
    border-radius: 15px;
}

legend h2 {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 30px;
}

fieldset {
    padding: 5px;
    margin: 5px;
    border: none;
}

blockquote p {
    margin: 2px;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 20px;
}

span {
    margin-right: 10px;
    padding: 2px;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 30px;
}

figcaption {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 30px;
}

#projects {
    height: 40em;
    display: inline-flex;
    margin-left: 18%;
    width: 80%;
}

#large {
    width: 400px;
    height: 700px;
    margin: 25px 5px 5px 5px;
    padding: 3px;
    border: solid 1px #fff;
    border-radius: 5px;
}

#large:hover {
    cursor: pointer;
    background-color: black;
}

.reg {
    width: 350px;
    height: 300px;
    margin: 25px 5px 5px 5px;
    padding: 3px;
    border: solid 1px #fff;
    border-radius: 5px;
}

#container-1 {
    width: 410px;
    height: 740px;
}

.container {
    width: 360px;
    height: 310px;
}

#projects figcaption {
    margin: 5px;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.contact-me {
    margin-top: 30px;
    height: 3rem;
    width: 100%;
    text-align: center;
}

.contact-me h3 {
    display: inline-block;
    margin: 10px 6rem;
    padding: 2px;
}